body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#mountain {
    font-size: 100px;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

input {
    padding: 10px;
}